.footer {

    display: flex;
    height: 100%;
    align-items: center;
    flex: 0 1 auto;    
    background-color: $income_icons_bg;
    padding-left: 530px;
    color: $main_page_bg;

    &__left {
        width: 30%;
        & .left__text {
            font-weight: 300;
font-size: 14px;
line-height: 18px;
        }
    }

    

    &__right {
        width: 70%;
        padding-right: 112px;
        & .right__text {
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: $main_page_bg;
        }
    }
}

