.sidebar {
    display: flex;
    width: 440px;
    flex: 0 0 440px;
    max-height: 100vh;
    overflow: auto;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    padding-left: 112px;
    padding-top: 19px;
    background-color: $aside_bg;
    font-family: 'Inter';
}

.logo__img {
    width: 38px;
}
.header {
    display: flex;
    flex-direction: column;

    &__body {}

    &__main {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-wrap: wrap;
    }

    &__logo-text {
        font-family: $fontFamily;        
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: $main_page_bg;
        padding: 10px 0;
        margin-left: 10px;

    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__menu {
        .menu { }
        flex: 0 0 100%;
    }
}

.menu {

    &__icon {
        display: none;

        @media screen and (max-width:1025px) {
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;

            & span,
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #fff;
            }

            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
        }
    }

    &__body {}

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin: 32px 0;
        padding-left: 16px;
    }

    &__link {
        display: block;
        color: $main_page_bg;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        
    }
}
